In [5]:
import pandas as pd

In [7]:
dataset = pd.read_csv("ipl_matches_smalldata.csv")

In [25]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [27]:
top_10_players = df.nlargest(10, 'total_runs')

In [29]:
mean_runs = top_10_players['total_runs'].mean()

In [31]:
mode_runs = top_10_players['total_runs'].mode()[0]

In [33]:
print(f"Mean of runs scored by top 10 players: {mean_runs}")

Mean of runs scored by top 10 players: 6.1

In [35]:
print(f"Mode of runs scored by top 10 players: {mode_runs}")

Mode of runs scored by top 10 players: 6

In [37]:
players_above_500 = df[df['total_runs']>500]

In [39]:
print(players_above_500)

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batter, bowler, non_striker, batsman_runs, extra_runs, total_runs, extras_type, is_wicket, player_dismissed, dismissal_kind, fielder]
Index: []